
# FIFA 1 DATASET CLEANING CHALLENGE

### Presented by Pasty Asamoah, Ghana.

In [1111]:

# Hello world, let's begin!

In [982]:
# import libraries

# numerical python modules
import numpy as np

# pandas module
import pandas as pd

# regular expressions module
import re

In [983]:

# load the data into pandas dataframes stored as df

df = pd.read_csv("fifa_1.csv" ,low_memory=False)

In [984]:

# know your data
# Looking at the number of rows and columns in the dataset

rows, columns = df.shape

print("Rows: ", rows)

print("Columns: ",columns)

# there are 18,979 rows in the dataset with 77 columns

Rows:  18979
Columns:  77

In [985]:

# Taking a snapshot of the data
# Looking at the first 2 rows in the dataset

df.head(2)

# the data looks messy at first glance

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89,93,81,89,35,77,\n344

In [986]:

# check if there are duplicates.
# if there are, drop them and replace the values in the data set.

if df.duplicated().any() == True:

    df.drop_duplicates(inplace=True)

In [987]:

# Since some of the columns were not visible, it is necessary to take a look at the table column names
# Looking at the table columns

df.columns

Index(['photoUrl', 'LongName', 'playerUrl', 'Nationality', 'Positions', 'Name',
       'Age', '↓OVA', 'POT', 'Team & Contract', 'ID', 'Height', 'Weight',
       'foot', 'BOV', 'BP', 'Growth', 'Joined', 'Loan Date End', 'Value',
       'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [1110]:

# rename the col ↓OVA to OVA

df.rename(columns={'↓OVA':'OVA'}, inplace=True)

In [1104]:

# Check the datatypes to determine which columns needs much attention
# Most often, integer columns that report "object" as datatypes have issues
# Lets dynamically check the data types

# Keep track of all integer columns. 
integer_columns = []

# Keep track of all string columns. 
string_columns = []

# Keep track of all object columns. We will focus more on this
other_columns = []

# Lets loop through the columns and check the data types of the values in there

for col in df.columns: 
    
    if df[col].dtype=="int64": # checks for integers
        integer_columns.append(col) 
        
    elif df[col].dtype=="object": # checks for objects
        other_columns.append(col) 
        
    elif df[col].dtype=="str": # checks for str
        string_columns.append(col)

In [1105]:

# Lets look at the integer columns

print(integer_columns)

print("Count: ", len(integer_columns))

# 55 columns are integers. There are less issues here

['Age', 'OVA', 'POT', 'ID', 'BOV', 'Growth', 'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle', 'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats', 'Base Stats', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY']
Count:  55

In [1106]:
# Lets look at the object columns

print(other_columns)

print("Count: ", len(other_columns))

# 22 columns are objects. There are less issues here
# Note that, since we have 77 columns, if 55 are integer columns and 22 are objects, then no columns were fully string

['photoUrl', 'LongName', 'playerUrl', 'Nationality', 'Positions', 'Name', 'Team & Contract', 'Height', 'Weight', 'foot', 'BP', 'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits']
Count:  22

In [1107]:

# Note that, since we have 77 columns, if 55 are integer columns and 22 are objects, then no columns were fully string

len(integer_columns) + len(other_columns) == df.shape[1]

# we have True, meaning we don't have any string column

True

In [1108]:

# Lets examine the integer columns as a group
# Check for missing values

df[integer_columns].isna().any()
df[integer_columns].isnull().any()

# we don't have any missing value
# lets look at the data types

df[integer_columns].dtypes

# they are all integers. It means all these columns are good

Age                 int64
OVA                 int64
POT                 int64
ID                  int64
BOV                 int64
Growth              int64
Attacking           int64
Crossing            int64
Finishing           int64
Heading Accuracy    int64
Short Passing       int64
Volleys             int64
Skill               int64
Dribbling           int64
Curve               int64
FK Accuracy         int64
Long Passing        int64
Ball Control        int64
Movement            int64
Acceleration        int64
Sprint Speed        int64
Agility             int64
Reactions           int64
Balance             int64
Power               int64
Shot Power          int64
Jumping             int64
Stamina             int64
Strength            int64
Long Shots          int64
Mentality           int64
Aggression          int64
Interceptions       int64
Positioning         int64
Vision              int64
Penalties           int64
Composure           int64
Defending           int64
Marking             int64
Standing Tackle     int64
Sliding Tackle      int64
Goalkeeping         int64
GK Diving           int64
GK Handling         int64
GK Kicking          int64
GK Positioning      int64
GK Reflexes         int64
Total Stats         int64
Base Stats          int64
PAC                 int64
SHO                 int64
PAS                 int64
DRI                 int64
DEF                 int64
PHY                 int64
dtype: object

In [1109]:

# Lets zoom in to describe our data.

df[integer_columns].describe()

# You can do df[integer_columns].describe().T to transpose the output
# You can see that we don't have negative values or problematic values in there

,Age,OVA,POT,ID,BOV,Growth,Attacking,Crossing,Finishing,Heading Accuracy,...,GK Positioning,GK Reflexes,Total Stats,Base Stats,PAC,SHO,PAS,DRI,DEF,PHY
count,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,...,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000,18978.000000
mean,25.194225,65.718042,71.135789,226403.457477,66.751080,5.417747,248.935610,49.687375,45.842871,51.941459,...,16.217620,16.519654,1595.272368,355.699652,67.453683,53.457582,57.680472,62.874750,49.864738,64.368427
std,4.710618,6.968701,6.114189,27141.767404,6.746785,5.663967,74.300567,18.131089,19.567492,17.293983,...,17.002582,17.854549,269.874424,40.760683,10.678065,13.827581,10.081845,9.927607,16.442378,9.601882
min,16.000000,47.000000,47.000000,41.000000,48.000000,0.000000,42.000000,6.000000,3.000000,5.000000,...,2.000000,2.000000,747.000000,232.000000,25.000000,16.000000,25.000000,25.000000,12.000000,28.000000
25%,21.000000,61.000000,67.000000,210134.500000,62.000000,0.000000,222.000000,38.000000,30.000000,44.000000,...,8.000000,8.000000,1452.000000,327.000000,61.000000,44.000000,51.000000,57.000000,35.000000,58.000000
50%,25.000000,66.000000,71.000000,232421.000000,67.000000,4.000000,263.000000,54.000000,49.000000,55.000000,...,11.000000,11.000000,1627.000000,356.000000,68.000000,56.000000,58.000000,64.000000,53.000000,65.000000
75%,29.000000,70.000000,75.000000,246922.750000,71.000000,9.000000,297.000000,63.000000,62.000000,64.000000,...,14.000000,14.000000,1781.000000,384.000000,75.000000,64.000000,64.000000,69.000000,63.000000,71.000000
max,53.000000,93.000000,95.000000,259216.000000,93.000000,26.000000,437.000000,94.000000,95.000000,93.000000,...,91.000000,90.000000,2316.000000,498.000000,96.000000,93.000000,93.000000,95.000000,91.000000,91.000000

In [994]:

# Lets create a new dataframe and keep all cleaned columns in it.
# I will name it clean_data

clean_data = df[integer_columns].copy()

In [995]:

# Now lets handle the object columns
# Lets take a look at it.
# Remember we have 22 columns to clean

df[other_columns].describe()

# These columns are really messy

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Team & Contract,Height,Weight,foot,...,Loan Date End,Value,Wage,Release Clause,W/F,SM,A/W,D/W,IR,Hits
count,18978,18978,18978,18978,18978,18978,18978,18978,18978,18978,...,1013,18978,18978,18978,18978,18978,18978,18978,18978,18978
unique,18978,18851,18978,164,640,17919,9023,21,56,2,...,24,214,141,1216,5,5,3,3,5,374
top,https://cdn.sofifa.com/players/233/849/21_60.png,Adama Traoré,http://sofifa.com/player/214169/william-tesill...,England,CB,J. Rodríguez,\n India\nFree\n\n,"6'0""",154lbs,Right,...,"Jun 30, 2021",€1.1M,€2K,€0,3 ★,2★,Medium,Medium,1 ★,\n1
freq,1,3,1,1704,2441,13,29,2859,1496,14444,...,770,467,2997,1261,11694,9142,12700,13955,17628,4321

In [996]:
# Because these columns are messy, lets define a columns that return the unique characters in each field.
# With that, we can identify foreign characters and deal with them
# The function accepts two arguments: the data frame and the column in question

def get_unique_characters_in( df, column ):
    result = []
    for index, row in df.iterrows():
        for char in row[column]:
            if char not in result:
                result.append(char)
    return result

In [997]:

# Lets check all the unique values in the photoUrl column

print(get_unique_characters_in(df, 'photoUrl'))

# we don't have any strange character in it, Just URL related characters. That means, we're good to go!

['h', 't', 'p', 's', ':', '/', 'c', 'd', 'n', '.', 'o', 'f', 'i', 'a', 'm', 'l', 'y', 'e', 'r', '1', '5', '8', '0', '2', '3', '_', '6', 'g', '9', '7', '4']

In [998]:

# Lets handle the photoUrl column
# Check if there are missing columns

print(df.photoUrl.isna().any())
print(df.photoUrl.isnull().any())

# we don't have missing columns

# Lets preview the values

df.photoUrl.head(10)

# it looks like they are png files

False
False

0    https://cdn.sofifa.com/players/158/023/21_60.png
1    https://cdn.sofifa.com/players/020/801/21_60.png
2    https://cdn.sofifa.com/players/200/389/21_60.png
3    https://cdn.sofifa.com/players/192/985/21_60.png
4    https://cdn.sofifa.com/players/190/871/21_60.png
5    https://cdn.sofifa.com/players/188/545/21_60.png
6    https://cdn.sofifa.com/players/231/747/21_60.png
7    https://cdn.sofifa.com/players/212/831/21_60.png
8    https://cdn.sofifa.com/players/209/331/21_60.png
9    https://cdn.sofifa.com/players/208/722/21_60.png
Name: photoUrl, dtype: object

In [999]:

# Lets further check if they are all png files
# We want to fetch values that do not end with .png

df[df.photoUrl.str[-4:] != ".png"] 

# all images are png and good, so we didn't get anything

Empty DataFrame
Columns: [photoUrl, LongName, playerUrl, Nationality, Positions, Name, Age, ↓OVA, POT, Team & Contract, ID, Height, Weight, foot, BOV, BP, Growth, Joined, Loan Date End, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits]
Index: []

[0 rows x 77 columns]

In [1000]:

# Lets go ahead and add the photoUrl column to our clean data

clean_data['photoUrl'] = pd.Series(df.photoUrl.copy(), dtype=str)

In [1001]:

# Lets clean the LongName column

# We want to get the unique characters first

print(get_unique_characters_in(df, 'LongName'))

# there are strange charaters here. And its because there are German, Greek, etc players so it makes sense to have these characters in there

['L', 'i', 'o', 'n', 'e', 'l', ' ', 'M', 's', 'C', '.', 'R', 'a', 'd', 'S', 't', 'A', 'v', 'r', 'J', 'O', 'b', 'k', 'K', 'D', 'B', 'u', 'y', 'N', 'm', 'w', 'p', 'é', 'c', 'h', 'V', 'g', 'j', '-', 'H', 'q', 'T', 'z', 'G', 'í', 'ü', "'", 'P', 'E', 'č', 'x', 'F', 'á', 'I', 'W', 'ę', 'Á', 'ć', 'ë', 'Q', 'Y', 'ó', 'Š', 'f', 'Z', 'ê', 'ñ', 'â', 'U', 'ú', 'Ñ', 'Ø', 'à', 'ã', 'š', 'ý', 'İ', 'ğ', 'ž', 'É', 'ř', 'ç', 'ô', 'Ö', 'ï', 'X', 'ö', 'Ł', 'ń', 'Ç', 'ò', 'ø', 'æ', 'Ć', 'ð', 'î', 'Ó', 'Ü', 'ą', 'ä', 'ă', 'ș', 'è', 'Ș', 'ı', 'ł', 'ş', 'ß', 'Ş', 'ū', 'Ō', 'Đ', 'Â', 'ț', 'õ', 'Ř', 'Ž', 'Č', 'å', 'ě', 'đ', 'ō', 'ů', 'ź', 'Ś', 'ā', 'Þ', 'Ż', 'Ț', 'Ľ', 'ż', 'þ', 'ľ', 'Å', 'ś', 'À', 'Í', 'ň', 'ő', 'ķ', '\xad']

In [1002]:

# Lets fetch something using the characters and check on google if its right

df['LongName'][df.LongName.str.contains('Â')]

# And we can see that these are names of players so that characters ain't strange

1702       Miguel Ângelo da Silva Rocha
3991       Eulânio Ângelo Chipela Gomes
4167           Diego Ângelo de Oliveira
4429           Ângelo Pelegrinelli Neto
10244    Ângelo Rafael O. Sousa Taveira
Name: LongName, dtype: object

In [1003]:

# The LongName column is good, so let's add it to the clean data

clean_data['LongName'] = pd.Series(df.LongName.copy(), dtype=str)

In [1004]:

# Lets handle the playerUrl column
# Check if there are missing columns

print(df.playerUrl.isnull().any())
print(df.playerUrl.isna().any())

# we don't have missing values

False
False

In [1005]:

# We want to get the unique characters first

print(get_unique_characters_in(df, 'playerUrl')) 

# there are no strange characters so lets add it to the clean data

clean_data['playerUrl'] = pd.Series(df.playerUrl.copy(), dtype=str)

['h', 't', 'p', ':', '/', 's', 'o', 'f', 'i', 'a', '.', 'c', 'm', 'l', 'y', 'e', 'r', '1', '5', '8', '0', '2', '3', 'n', '-', 'd', 'v', '9', 'j', 'b', 'k', 'u', '7', '4', 'w', '6', 'g', 'q', 'z', 'x']

In [1006]:

# Lets handle the Nationality column
# Check if there are missing columns

print(df.Nationality.isnull().any())
print(df.Nationality.isna().any())

# we don't have missing values

False
False

In [1007]:

# We want to get the unique characters first

print(get_unique_characters_in(df, 'Nationality'))

# there are some strange characters. Lets investage with a sample

df['Nationality'][df.Nationality.str.contains("é")] #okay

# the output is good

['A', 'r', 'g', 'e', 'n', 't', 'i', 'a', 'P', 'o', 'u', 'l', 'S', 'v', 'B', 'm', 'z', 'd', 'F', 'c', 'E', 'y', 'p', 'N', 'h', 's', 'G', 'K', ' ', 'R', 'b', 'C', 'I', 'U', 'w', 'k', 'M', 'D', 'H', 'x', 'W', 'T', 'V', 'f', 'J', 'Z', 'q', 'L', '&', 'ã', 'é', 'í', 'j']

4928    São Tomé & Príncipe
Name: Nationality, dtype: object

In [1008]:

# Lets add the Nationality to the clean data

clean_data['Nationality'] = pd.Series(df.Nationality.copy(), dtype=str)

In [1009]:

# Lets handle the Positions column
# Check if there are missing columns

print(df.Positions.isnull().any())
print(df.Positions.isna().any())

# we don't have missing values

False
False

In [1010]:

# We want to get the unique characters first

print(get_unique_characters_in(df, 'Positions'))

['R', 'W', ' ', 'S', 'T', 'C', 'F', 'L', 'G', 'K', 'A', 'M', 'B', 'D']

In [1011]:

# Lets see the unique values

unique_values = df.Positions.unique() # code positions

# Lets get the number of unique values here

len(unique_values)

640

In [1012]:

# Since the data can be used by anyone for specific objectives, lets create an encoded volumns of the positions
# SO that those who want to work with the integer values can, and those who want to use the string or categorical values can also do that

counter = 1
array_of_position_categoricals = {}

for pos in df.Positions.unique():
    if pos not in array_of_position_categoricals.keys():
        array_of_position_categoricals[pos] = counter
        counter+=1
    
new_pos = df.Positions.copy()

new_pos.replace(array_of_position_categoricals, inplace=True)

# Lets add the categorical column to the clean data

clean_data['Positions Categorical'] = pd.Series(new_pos).astype('int64')

# Lets add the column itself to the  clean data

clean_data['Positions'] = pd.Series(df.Positions.copy(), dtype=str)

In [1013]:

# Lets clean the Team and contract column
# This columns is very messy

# Lets check if there are missing values

print(df['Team & Contract'].isnull().any())
print(df['Team & Contract'].isna().any())


# Lets preview it
df['Team & Contract'].head()

# we don't have missing values
# AT a glance, you know there's work to be done :)

False
False

0           \n\n\n\nFC Barcelona\n2004 ~ 2021\n\n
1               \n\n\n\nJuventus\n2018 ~ 2022\n\n
2        \n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n
3        \n\n\n\nManchester City\n2015 ~ 2023\n\n
4    \n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n
Name: Team & Contract, dtype: object

In [1014]:

# Lets get the unique characters

print(get_unique_characters_in(df, 'Team & Contract'))

# It looks like we have spaces and tilda (~) which is supposed to be a dash (-). Lets replace them

['\n', 'F', 'C', ' ', 'B', 'a', 'r', 'c', 'e', 'l', 'o', 'n', '2', '0', '4', '~', '1', 'J', 'u', 'v', 't', 's', '8', 'A', 'é', 'i', 'M', 'd', '3', 'h', 'y', '5', 'P', 'S', '-', 'G', 'm', '7', 'ü', 'L', 'p', '6', 'R', '9', 'T', 'H', 'N', 'I', 'D', 'U', 'z', 'ö', 'g', 'b', 'O', 'q', 'V', 'j', 'x', 'f', 'W', 'E', 'ê', 'w', 'k', 'ş', 'K', ',', 'ã', '.', 'Y', 'É', 'Z', '&', 'ç', 'ó', 'ú', 'á', 'Q', 'í', 'î', 'Ç', 'ø', "'", 'ñ', 'ň', 'è', 'ğ', 'ł', '/', '(', ')', 'ń', 'ę', 'â', 'å', 'æ', 'Ś', 'ą', 'ä', 'Ö', 'ș']

In [1015]:

# replace white spaces and other characters

df['Team & Contract'] = df['Team & Contract'].str.replace('\n','',regex=True) 

df['Team & Contract'] = df['Team & Contract'].str.replace('~','-',regex=True)

In [1016]:

# Lets get the unique values in the column

df['Team & Contract'].unique()

# The data looks clean a bit. We still have a lot to do

array(['FC Barcelona2004 - 2021', 'Juventus2018 - 2022',
       'Atlético Madrid2014 - 2023', ..., 'Dalian YiFang FC2019 - 2024',
       'Henan Jianye FC2020 - 2021', 'Wuhan Zall2018 - 2022'],
      dtype=object)

In [1017]:

# Lets seperate the contract initiation year and closing year.
# We can use regular expressions for that

from_col = [] # contract from
to_col = [] # contract to

# Pattern
pattern = r"\d+\.?\d*|\.\d+"


for row in df['Team & Contract']:
    numbers = re.findall(pattern, text)
    if len(numbers) >= 2:
        from_col.append(numbers[0])
        to_col.append(numbers[1])

# At this point we have separated the init and closing years into separate lists.
# We will add it as a column in the clean data in moments

In [1018]:

# We only extracted the init and closing contract years.
# Lets remover them from the Team information. So that the 3 columns will be independent
# Lets leverage regex once more

# We're removing all the numbers and replacing the (-) we introduced

pattern = r"\d+"

df['Team & Contract'] = df['Team & Contract'].str.replace(pattern,"")
df['Team & Contract'] = df['Team & Contract'].str.replace("-","")

In [1019]:

# Its time to add them to the clean data
# We now have these 3 columns Teams, Contract From, and Contract To
# Hurray!

clean_data['Teams'] = pd.Series(df['Team & Contract'], dtype=str)

clean_data['Contract From'] = pd.Series(from_col).astype('int64')

clean_data['Contract To'] = pd.Series(to_col).astype('int64')

clean_data.head(2)

# Interesting right??

,Age,↓OVA,POT,ID,BOV,Growth,Attacking,Crossing,Finishing,Heading Accuracy,...,PHY,photoUrl,LongName,playerUrl,Nationality,Positions Categorical,Positions,Teams,Contract From,Contract To
0,33,93,93,158023,93,0,429,85,95,70,...,65,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,1,RW ST CF,FC Barcelona,2019.0,2024.0
1,35,92,92,20801,92,0,437,84,95,90,...,77,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,2,ST LW,Juventus,2019.0,2024.0

In [1020]:

# Lets clean the height
# Lets handle the Nationality column
# Check if there are missing columns

print(df.Height.isnull().any())
print(df.Height.isna().any())

# we don't have missing values

# Lets see the unique characters that make up the entire column

print(get_unique_characters_in(df, 'Height'))

# The strange characters here are ' and ". Thats because we're dealing with feets and inches

False
False
['5', "'", '7', '"', '6', '2', '1', '9', '0', '3', '4', '8']

In [1021]:

# Lets see the unique columns

df.Height.unique()

# It seems all values are in feets and inches

array(['5\'7"', '6\'2"', '5\'11"', '5\'9"', '6\'0"', '5\'10"', '6\'3"',
       '6\'4"', '6\'1"', '6\'6"', '5\'8"', '5\'6"', '6\'5"', '5\'5"',
       '5\'4"', '6\'7"', '5\'2"', '5\'3"', '6\'8"', '5\'1"', '6\'9"'],
      dtype=object)

In [1022]:

# Since all values are in feets and inches, presented for instance as 6'8" (6 feets 8 inches), lets replace the ' with a dot and remove the "
# SO we can have 6.8 which means 6 feets 8 inches, and this will run through. It doesn't really matter the data that comes in. It will still hold.
# The possible issue is that, someone won't understand what 6.8 is unless we explain. But its fine for now.
# We can aswell calculate or convert feets and inches to centimeters

df['Height'][df.Height.str.contains("'")]
df['Height'] = df.Height.str.replace("'", '.')
df['Height'] = df.Height.str.replace('"', '')

# Lets add it to the clean data

clean_data['Height'] = df.Height.astype('float').copy()

In [1023]:

# Lets clean the Weight
# Lets handle the Weight column
# Check if there are missing columns

print(df.Weight.isnull().any())
print(df.Weight.isna().any())

# There are no missing values

# Lets now check the unique characters

print(get_unique_characters_in(df, 'Weight'))

# It looks like we have some string in there. Lets quickly replace them

False
False
['1', '5', '9', 'l', 'b', 's', '8', '3', '2', '4', '0', '7', '6']

In [1024]:

# Replace all lbs

df['Weight'] = df.Weight.str.replace("lbs", '')

# Save to clean data

clean_data['Weight'] = df.Weight.astype('int64').copy()

In [1025]:
# Lets clean the foot
# Lets handle the foot column

print(df.foot.isnull().any())
print(df.foot.isna().any())

# We don't have nulls

# Lets get the unique items

df.foot.unique()

# It seems we have just Left and Right

False
False

array(['Left', 'Right'], dtype=object)

In [1026]:

# Lets create a categorical data out of this and add to the clean data

clean_data['foot_categorical'] = df.foot.copy().replace({'Left':1,'Right':2}).astype('int64')

clean_data['foot'] = pd.Series(df.foot, dtype=str)

In [1027]:

# Lets clean the BP
# Lets handle the BP column

df.BP.isna().any()

df.BP.isnull().any()

# There are no missing values

# Lets get the unique characters

print(get_unique_characters_in(df, 'BP')) # it looks clean

['R', 'W', 'S', 'T', 'G', 'K', 'C', 'A', 'M', 'L', 'B', 'D', 'F']

In [1028]:

# Lets get the unique values

df.BP.unique()

# There's an opportunity for categorical column

array(['RW', 'ST', 'GK', 'CAM', 'LW', 'CB', 'CDM', 'CF', 'CM', 'RB', 'LB',
       'LM', 'RM', 'LWB', 'RWB'], dtype=object)

In [1029]:

# Lets create the categoricla column as we used to

counter = 1

bp_categoricals = {}

for _bp in df.BP.unique():
    if _bp not in bp_categoricals.keys():
        bp_categoricals[_bp] = counter
        counter+=1

# lets replace the newly created indexes
new_bp = df.BP.copy()
new_bp.replace(bp_categoricals, inplace=True)

In [1030]:


# Lets add them to the clean data
clean_data['BP'] = pd.Series(df.BP, dtype=str)
clean_data['BP Categorical'] = pd.Series(new_bp).astype('int64')

In [1031]:

# Lets clean the Joined
# Lets handle the Joined column
# Check if there are missing values

df.Joined.isna().any()
df.Joined.isnull().any()

# There are no missing values

# Lets check the data type because this is supposed to be date

df.Joined.dtype

# It turned out to be an object

dtype('O')

In [1032]:

# Lets enforce some datatypes here and add it to the clean data

clean_data['Joined'] = pd.to_datetime( df.Joined ).dt.date

In [1033]:

# Lets clean the loan date
# Lets handle the loan data column

df['Loan Date End'].isna().any()

# there are some issues. Lets investigate

True

In [1034]:

# Lets check how many are empty

df['Loan Date End'].isnull().sum()

# we have 17965. This means some players are not on loan so we can remove them

17965

In [1035]:
# In that case, lets just enforce the datatypes and create a new column which indicates whether a player is on loan or not
# Interestin right?

df['Loan Date End'].dtypes

dtype('O')

In [1036]:

# convert column to dates

loan_date_end = pd.to_datetime( df['Loan Date End'] ).dt.date

# make a copy of the copy

loan_date_end_copy = loan_date_end

# fill missing values with 0. This will help is determining who's on loan
loan_date_end_copy = loan_date_end_copy.fillna(0)

# create a new column which indicates whether a player is on loan. This will be a justification to why some columns in the Loan Date End is NaT
clean_data['Is On Loan'] = pd.Series(loan_date_end_copy.apply(lambda x: 1 if x != 0 else 0), dtype=int)

clean_data['Loan Date End'] = loan_date_end

In [1037]:
# Lets clean the Value
# Lets handle the Value column
# Check if there are missing values

df.Value.isna().any()
df.Value.isnull().any()

# There are no issues

False

In [1038]:

# Lets get the unique characters that make up this column

print(get_unique_characters_in(df, 'Value'))

# We have M = million, K = thousand and the currency. Lets handle them

['€', '6', '7', '.', '5', 'M', '4', '8', '9', '0', '1', '2', '3', 'K']

In [1039]:

# Lets replace the currency first

df.Value = df.Value.str.replace('€','')

# We will convert the M to million by multiplying by 1,000,000 and 1,000 in the case of K
new_values = []

for val in df.Value:
    if 'M' in val:
        raw_figure = float(val.split('M')[0])
        new_values.append(raw_figure*1000000)
    
    elif 'K' in val:
        raw_figure = float(val.split('K')[0])
        new_values.append(raw_figure*1000)
        
    else:
        new_values.append(val)

# Lets add it to the clean data
clean_data['Value'] = pd.Series(new_values, dtype=float)
clean_data.head(2)

,Age,↓OVA,POT,ID,BOV,Growth,Attacking,Crossing,Finishing,Heading Accuracy,...,Height,Weight,foot_categorical,foot,BP,BP Categorical,Joined,Is On Loan,Loan Date End,Value
0,33,93,93,158023,93,0,429,85,95,70,...,5.7,159,1,Left,RW,1,2004-07-01,0,NaT,67500000.0
1,35,92,92,20801,92,0,437,84,95,90,...,6.2,183,2,Right,ST,2,2018-07-10,0,NaT,46000000.0

In [1040]:
# Lets handle the wages like we did for the Value

print(get_unique_characters_in(df, 'Wage'))

['€', '5', '6', '0', 'K', '2', '1', '3', '7', '4', '9', '8']

In [1066]:

df.Wage = df.Wage.str.replace('€','')

new_values = []

for val in df.Wage:
    if 'M' in val:
        raw_figure = float(val.split('M')[0])
        new_values.append(raw_figure*1000000)
    
    elif 'K' in val:
        raw_figure = float(val.split('K')[0])
        new_values.append(raw_figure*1000)
        
    else:
        new_values.append(val)
        
clean_data['Wage'] = pd.Series(new_values, dtype=float)

In [1042]:
# Lets handle the release clause like we did for the Value

print(get_unique_characters_in(df, 'Release Clause'))

['€', '1', '3', '8', '.', '4', 'M', '7', '5', '9', '6', '2', '0', 'K']

In [1067]:

df['Release Clause'] = df['Release Clause'].str.replace('€','')

new_values = []

for val in df['Release Clause']:
    if 'M' in val:
        raw_figure = float(val.split('M')[0])
        new_values.append(raw_figure*1000000)
    
    elif 'K' in val:
        raw_figure = float(val.split('K')[0])
        new_values.append(raw_figure*1000)
        
    else:
        new_values.append(val)
        
clean_data['Release Clause'] = pd.Series(new_values, dtype=float)

In [1044]:
# Lets clean the w/f columns
# Lets check if there are missing values

df['W/F'].isna().any()
df['W/F'].isnull().any()

# There are no missing values
# Lets go ahead and get the unique values

df['W/F'].unique()

# These are stars, lets deal with it

array(['4 ★', '3 ★', '5 ★', '2 ★', '1 ★'], dtype=object)

In [1068]:

# There are some stars here. Lets deal with it in two ways
# 1. Lets remove the stars and leave the integers standing alone
# 2 Lets multiple the stars by the integers and store them.

stars = {}
numbers = []

for star in df['W/F']:
    number_of_stars = int(star.split(' ★')[0])
    stars[star] = number_of_stars * '★'
    numbers.append(int(number_of_stars))

copy_of_stars_column = df['W/F'].copy()
copy_of_stars_column.replace(stars, inplace=True)

# Lets add them to the clean data

clean_data['W/F Stars'] = copy_of_stars_column
clean_data['W/F'] = pd.Series(numbers, dtype=int)
clean_data.head(3)

,Age,↓OVA,POT,ID,BOV,Growth,Attacking,Crossing,Finishing,Heading Accuracy,...,W/F,SM Stars,SM,A/W,A/W Categorical,D/W,D/W Categorical,IR Stars,IR,Hits
0,33,93,93,158023,93,0,429,85,95,70,...,4.0,★★★★,4.0,Medium,1,Low,1,★★★★★,5.0,372.0
1,35,92,92,20801,92,0,437,84,95,90,...,4.0,★★★★★,5.0,High,2,Low,1,★★★★★,5.0,344.0
2,27,91,93,200389,91,2,95,13,11,15,...,3.0,★,1.0,Medium,1,Medium,2,★★★,3.0,86.0

In [1069]:
# The SM column is like the W/F column. Lets use same approach to deal with it

df['SM'].isna().any()
df['SM'].isnull().any()

df['SM'].unique()

array(['4★', '5★', '1★', '2★', '3★'], dtype=object)

In [1070]:

stars = {}
numbers = []

for star in df['SM']:
    number_of_stars = int(star.split('★')[0])
    stars[star] = number_of_stars * '★'
    numbers.append(int(number_of_stars))

copy_of_stars_column = df['SM'].copy()
copy_of_stars_column.replace(stars, inplace=True)

clean_data['SM Stars'] = copy_of_stars_column
clean_data['SM'] =pd.Series(numbers, dtype=int)
clean_data.head(3)

,Age,↓OVA,POT,ID,BOV,Growth,Attacking,Crossing,Finishing,Heading Accuracy,...,W/F,SM Stars,SM,A/W,A/W Categorical,D/W,D/W Categorical,IR Stars,IR,Hits
0,33,93,93,158023,93,0,429,85,95,70,...,4.0,★★★★,4.0,Medium,1,Low,1,★★★★★,5.0,372.0
1,35,92,92,20801,92,0,437,84,95,90,...,4.0,★★★★★,5.0,High,2,Low,1,★★★★★,5.0,344.0
2,27,91,93,200389,91,2,95,13,11,15,...,3.0,★,1.0,Medium,1,Medium,2,★★★,3.0,86.0

In [1071]:

# Lets handle to A/W column
# Lets check for missing values

df['A/W'].isna().any()
df['A/W'].isnull().any()

# We dont have missing values

False

In [1049]:

# Lets get the unique characters

print(get_unique_characters_in(df, 'A/W'))

# Good, we don't have strange characters

['M', 'e', 'd', 'i', 'u', 'm', 'H', 'g', 'h', 'L', 'o', 'w']

In [1050]:

# Lets get the unique vakues

df['A/W'].unique()

# You remember?? There's an opportunity for categorical columns

array(['Medium', 'High', 'Low'], dtype=object)

In [1072]:

counter = 1

aw_categoricals = {}

for aw in df['A/W'].unique():
    if aw not in aw_categoricals.keys():
        aw_categoricals[aw] = counter
        counter+=1
    
new_aw = df['A/W'].copy()
new_aw.replace(aw_categoricals, inplace=True)

# Lets add both the clean and categorical column we just created to the clean data

clean_data['A/W'] = pd.Series(df['A/W'], dtype=str)
clean_data['A/W Categorical'] = pd.Series(new_aw).astype('int64')

In [1073]:

print(get_unique_characters_in(df, 'D/W'))

['L', 'o', 'w', 'M', 'e', 'd', 'i', 'u', 'm', 'H', 'g', 'h']

In [1074]:

# Lets clean the D/W columns
# Lets check for missing values

df['D/W'].isna().any()
df['D/W'].isnull().any()

# There are no issues

False

In [1075]:
# Lets get the unique values

df['D/W'].unique()

# There's an opportunity for categorical column as usual

array(['Low', 'Medium', 'High'], dtype=object)

In [1076]:

counter = 1

dw_categoricals = {}

for dw in df['D/W'].unique():
    if dw not in dw_categoricals.keys():
        dw_categoricals[dw] = counter
        counter+=1
    
new_dw = df['D/W'].copy()
new_dw.replace(dw_categoricals, inplace=True)

# You get this right??
# We meuve

clean_data['D/W'] = pd.Series(df['D/W'], dtype=str)
clean_data['D/W Categorical'] = pd.Series(new_dw).astype('int64')

In [1077]:
clean_data.head(2)

,Age,↓OVA,POT,ID,BOV,Growth,Attacking,Crossing,Finishing,Heading Accuracy,...,W/F,SM Stars,SM,A/W,A/W Categorical,D/W,D/W Categorical,IR Stars,IR,Hits
0,33,93,93,158023,93,0,429,85,95,70,...,4.0,★★★★,4.0,Medium,1,Low,1,★★★★★,5.0,372.0
1,35,92,92,20801,92,0,437,84,95,90,...,4.0,★★★★★,5.0,High,2,Low,1,★★★★★,5.0,344.0

In [1078]:
# Lets clean the IR columns
# Its similar to the D/W
# Lets check for missing vlaues

df['IR'].isna().any()
df['IR'].isnull().any()

# There are no issues

False

In [1079]:

# Lets get the unique values

df.IR.unique()

array(['5 ★', '3 ★', '4 ★', '2 ★', '1 ★'], dtype=object)

In [1080]:
stars = {}
numbers = []

for star in df.IR:
    number_of_stars = int(star.split(' ★')[0])
    stars[star] = number_of_stars * '★'
    numbers.append(int(number_of_stars))

copy_of_stars_column = df.IR.copy()
copy_of_stars_column.replace(stars, inplace=True)

# Just like how we do it...lets do it again

clean_data['IR Stars'] = copy_of_stars_column
clean_data['IR'] = pd.Series(numbers, dtype=int)
clean_data.head(2)

,Age,↓OVA,POT,ID,BOV,Growth,Attacking,Crossing,Finishing,Heading Accuracy,...,W/F,SM Stars,SM,A/W,A/W Categorical,D/W,D/W Categorical,IR Stars,IR,Hits
0,33,93,93,158023,93,0,429,85,95,70,...,4.0,★★★★,4.0,Medium,1,Low,1,★★★★★,5.0,372.0
1,35,92,92,20801,92,0,437,84,95,90,...,4.0,★★★★★,5.0,High,2,Low,1,★★★★★,5.0,344.0

In [1081]:

# Lets clean the Hits column

df.Hits.isna().any()
df.Hits.isnull().any()

# no issues found

False

In [1082]:

df.Hits.unique()

# Eish, it looks like ther are issues here

array(['\n372', '\n344', '\n86', '\n163', '\n273', '\n182', '\n646',
       '\n79', '\n164', '\n170', '\n93', '\n131', '\n89', '\n90', '\n169',
       '\n187', '\n103', '\n317', '\n239', '\n56', '\n130', '\n229',
       '\n124', '\n172', '\n114', '\n46', '\n663', '\n479', '\n203',
       '\n198', '\n122', '\n565', '\n152', '\n140', '\n276', '\n209',
       '\n25', '\n136', '\n109', '\n139', '\n42', '\n99', '\n137',
       '\n166', '\n80', '\n104', '\n150', '\n112', '\n285', '\n133',
       '\n96', '\n69', '\n143', '\n100', '\n38', '\n83', '\n67', '\n207',
       '\n416', '\n315', '\n206', '\n424', '\n191', '\n454', '\n271',
       '\n249', '\n121', '\n246', '\n171', '\n148', '\n329', '\n70',
       '\n97', '\n73', '\n210', '\n82', '\n146', '\n62', '\n165', '\n129',
       '\n162', '\n35', '\n65', '\n47', '\n77', '\n106', '\n84', '\n1.3K',
       '\n310', '\n181', '\n364', '\n200', '\n141', '\n134', '\n259',
       '\n309', '\n367', '\n224', '\n211', '\n60', '\n176', '\n108',
       '\n63', '\n111', '\n52', '\n59', '\n350', '\n54', '\n117', '\n27',
       '\n91', '\n365', '\n312', '\n286', '\n157', '\n291', '\n245',
       '\n258', '\n233', '\n767', '\n288', '\n57', '\n115', '\n123',
       '\n142', '\n149', '\n227', '\n75', '\n53', '\n113', '\n71', '\n92',
       '\n144', '\n132', '\n125', '\n45', '\n158', '\n55', '\n43',
       '\n107', '\n24', '\n212', '\n21', '\n87', '\n39', '\n98', '\n192',
       '\n391', '\n23', '\n26', '\n13', '\n185', '\n177', '\n272',
       '\n193', '\n225', '\n78', '\n88', '\n37', '\n168', '\n85', '\n34',
       '\n1.5K', '\n48', '\n32', '\n215', '\n41', '\n20', '\n61', '\n68',
       '\n58', '\n19', '\n186', '\n17', '\n241', '\n574', '\n338',
       '\n274', '\n2.9K', '\n492', '\n670', '\n324', '\n352', '\n31',
       '\n30', '\n300', '\n189', '\n595', '\n127', '\n173', '\n159',
       '\n49', '\n36', '\n102', '\n280', '\n12', '\n14', '\n50', '\n76',
       '\n95', '\n51', '\n40', '\n22', '\n11', '\n9', '\n16', '\n10',
       '\n5', '\n222', '\n303', '\n268', '\n434', '\n256', '\n247',
       '\n248', '\n354', '\n289', '\n269', '\n237', '\n183', '\n6',
       '\n217', '\n155', '\n523', '\n921', '\n264', '\n72', '\n29',
       '\n476', '\n28', '\n205', '\n81', '\n393', '\n147', '\n74', '\n66',
       '\n33', '\n44', '\n314', '\n428', '\n261', '\n199', '\n281',
       '\n316', '\n118', '\n411', '\n396', '\n4', '\n794', '\n243',
       '\n204', '\n219', '\n167', '\n18', '\n356', '\n120', '\n561',
       '\n8', '\n101', '\n984', '\n2K', '\n603', '\n526', '\n1K', '\n343',
       '\n190', '\n154', '\n673', '\n194', '\n556', '\n128', '\n161',
       '\n494', '\n196', '\n232', '\n332', '\n283', '\n138', '\n15',
       '\n64', '\n94', '\n3', '\n7', '\n308', '\n382', '\n345', '\n275',
       '\n313', '\n398', '\n153', '\n935', '\n201', '\n699', '\n758',
       '\n745', '\n184', '\n1', '\n501', '\n145', '\n119', '\n255',
       '\n1.2K', '\n2', '\n253', '\n1.7K', '\n156', '\n238', '\n221',
       '\n175', '\n151', '\n500', '\n731', '\n532', '\n466', '\n535',
       '\n297', '\n265', '\n599', '\n234', '\n180', '\n195', '\n116',
       '\n423', '\n266', '\n560', '\n188', '\n244', '\n216', '\n496',
       '\n257', '\n226', '\n105', '\n412', '\n220', '\n970', '\n135',
       '\n360', '\n178', '\n1.1K', '\n326', '\n251', '\n369', '\n4.5K',
       '\n681', '\n700', '\n477', '\n333', '\n1.9K', '\n174', '\n406',
       '\n358', '\n555', '\n335', '\n856', '\n1.8K', '\n230', '\n250',
       '\n792', '\n400', '\n126', '\n342', '\n270', '\n529', '\n445',
       '\n830', '\n380', '\n881', '\n240', '\n160', '\n378', '\n598',
       '\n433', '\n202', '\n208'], dtype=object)

In [1083]:

# Lets get the unique characters that make up the column

print(get_unique_characters_in(df, 'Hits'))

# It seems we have spaces and thousands (K)

['\n', '3', '7', '2', '4', '8', '6', '1', '9', '0', '5', '.', 'K']

In [1084]:

# Lets get the unique vlaues

df.Hits.unique()

# this is really messy

array(['\n372', '\n344', '\n86', '\n163', '\n273', '\n182', '\n646',
       '\n79', '\n164', '\n170', '\n93', '\n131', '\n89', '\n90', '\n169',
       '\n187', '\n103', '\n317', '\n239', '\n56', '\n130', '\n229',
       '\n124', '\n172', '\n114', '\n46', '\n663', '\n479', '\n203',
       '\n198', '\n122', '\n565', '\n152', '\n140', '\n276', '\n209',
       '\n25', '\n136', '\n109', '\n139', '\n42', '\n99', '\n137',
       '\n166', '\n80', '\n104', '\n150', '\n112', '\n285', '\n133',
       '\n96', '\n69', '\n143', '\n100', '\n38', '\n83', '\n67', '\n207',
       '\n416', '\n315', '\n206', '\n424', '\n191', '\n454', '\n271',
       '\n249', '\n121', '\n246', '\n171', '\n148', '\n329', '\n70',
       '\n97', '\n73', '\n210', '\n82', '\n146', '\n62', '\n165', '\n129',
       '\n162', '\n35', '\n65', '\n47', '\n77', '\n106', '\n84', '\n1.3K',
       '\n310', '\n181', '\n364', '\n200', '\n141', '\n134', '\n259',
       '\n309', '\n367', '\n224', '\n211', '\n60', '\n176', '\n108',
       '\n63', '\n111', '\n52', '\n59', '\n350', '\n54', '\n117', '\n27',
       '\n91', '\n365', '\n312', '\n286', '\n157', '\n291', '\n245',
       '\n258', '\n233', '\n767', '\n288', '\n57', '\n115', '\n123',
       '\n142', '\n149', '\n227', '\n75', '\n53', '\n113', '\n71', '\n92',
       '\n144', '\n132', '\n125', '\n45', '\n158', '\n55', '\n43',
       '\n107', '\n24', '\n212', '\n21', '\n87', '\n39', '\n98', '\n192',
       '\n391', '\n23', '\n26', '\n13', '\n185', '\n177', '\n272',
       '\n193', '\n225', '\n78', '\n88', '\n37', '\n168', '\n85', '\n34',
       '\n1.5K', '\n48', '\n32', '\n215', '\n41', '\n20', '\n61', '\n68',
       '\n58', '\n19', '\n186', '\n17', '\n241', '\n574', '\n338',
       '\n274', '\n2.9K', '\n492', '\n670', '\n324', '\n352', '\n31',
       '\n30', '\n300', '\n189', '\n595', '\n127', '\n173', '\n159',
       '\n49', '\n36', '\n102', '\n280', '\n12', '\n14', '\n50', '\n76',
       '\n95', '\n51', '\n40', '\n22', '\n11', '\n9', '\n16', '\n10',
       '\n5', '\n222', '\n303', '\n268', '\n434', '\n256', '\n247',
       '\n248', '\n354', '\n289', '\n269', '\n237', '\n183', '\n6',
       '\n217', '\n155', '\n523', '\n921', '\n264', '\n72', '\n29',
       '\n476', '\n28', '\n205', '\n81', '\n393', '\n147', '\n74', '\n66',
       '\n33', '\n44', '\n314', '\n428', '\n261', '\n199', '\n281',
       '\n316', '\n118', '\n411', '\n396', '\n4', '\n794', '\n243',
       '\n204', '\n219', '\n167', '\n18', '\n356', '\n120', '\n561',
       '\n8', '\n101', '\n984', '\n2K', '\n603', '\n526', '\n1K', '\n343',
       '\n190', '\n154', '\n673', '\n194', '\n556', '\n128', '\n161',
       '\n494', '\n196', '\n232', '\n332', '\n283', '\n138', '\n15',
       '\n64', '\n94', '\n3', '\n7', '\n308', '\n382', '\n345', '\n275',
       '\n313', '\n398', '\n153', '\n935', '\n201', '\n699', '\n758',
       '\n745', '\n184', '\n1', '\n501', '\n145', '\n119', '\n255',
       '\n1.2K', '\n2', '\n253', '\n1.7K', '\n156', '\n238', '\n221',
       '\n175', '\n151', '\n500', '\n731', '\n532', '\n466', '\n535',
       '\n297', '\n265', '\n599', '\n234', '\n180', '\n195', '\n116',
       '\n423', '\n266', '\n560', '\n188', '\n244', '\n216', '\n496',
       '\n257', '\n226', '\n105', '\n412', '\n220', '\n970', '\n135',
       '\n360', '\n178', '\n1.1K', '\n326', '\n251', '\n369', '\n4.5K',
       '\n681', '\n700', '\n477', '\n333', '\n1.9K', '\n174', '\n406',
       '\n358', '\n555', '\n335', '\n856', '\n1.8K', '\n230', '\n250',
       '\n792', '\n400', '\n126', '\n342', '\n270', '\n529', '\n445',
       '\n830', '\n380', '\n881', '\n240', '\n160', '\n378', '\n598',
       '\n433', '\n202', '\n208'], dtype=object)

In [1099]:

# Lets clean it

hits = []

for hit in df.Hits:
    
    checked = ""
    
    # Checks and deal with integers
    if type(hit) != str:
        checked = result
    
    # Checks and deal with string...they have the white spaces
    else:
        result = hit.strip()
        checked = result
        
    # Handle the thousands
    if "K" in str(checked):
        result = checked.replace("K",'')
        result = float(result) * 1000
        hits.append(result)
    else:
        result = float(checked)
        hits.append(result)

# Add it to the clean columns
clean_data['Hits'] = pd.Series(hits, dtype=float)

# Finally, lets remove missing values using all columns except Loan Date End because most players are not on loan so that field has a lot of missing values

clean_data.dropna(subset=clean_data.columns.difference(['Loan Date End']), inplace=True)

In [1100]:

# Congratulations!
# We're done cleaning this data
# Lets check this last thing

# Why not look at our clean data to be sure if everything is fine??
# It makes sense, isn't it??

clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18977 entries, 0 to 18977
Data columns (total 87 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    18977 non-null  int64
 1   ↓OVA                   18977 non-null  int64
 2   POT                    18977 non-null  int64
 3   ID                     18977 non-null  int64
 4   BOV                    18977 non-null  int64
 5   Growth                 18977 non-null  int64
 6   Attacking              18977 non-null  int64
 7   Crossing               18977 non-null  int64
 8   Finishing              18977 non-null  int64
 9   Heading Accuracy       18977 non-null  int64
 10  Short Passing          18977 non-null  int64
 11  Volleys                18977 non-null  int64
 12  Skill                  18977 non-null  int64
 13  Dribbling              18977 non-null  int64
 14  Curve                  18977 non-null  int64
 15  FK Accuracy            18977 non-null  int64
 16  Long Passing           18977 non-null  int64
 17  Ball Control           18977 non-null  int64
 18  Movement               18977 non-null  int64
 19  Acceleration           18977 non-null  int64
 20  Sprint Speed           18977 non-null  int64
 21  Agility                18977 non-null  int64
 22  Reactions              18977 non-null  int64
 23  Balance                18977 non-null  int64
 24  Power                  18977 non-null  int64
 25  Shot Power             18977 non-null  int64
 26  Jumping                18977 non-null  int64
 27  Stamina                18977 non-null  int64
 28  Strength               18977 non-null  int64
 29  Long Shots             18977 non-null  int64
 30  Mentality              18977 non-null  int64
 31  Aggression             18977 non-null  int64
 32  Interceptions          18977 non-null  int64
 33  Positioning            18977 non-null  int64
 34  Vision                 18977 non-null  int64
 35  Penalties              18977 non-null  int64
 36  Composure              18977 non-null  int64
 37  Defending              18977 non-null  int64
 38  Marking                18977 non-null  int64
 39  Standing Tackle        18977 non-null  int64
 40  Sliding Tackle         18977 non-null  int64
 41  Goalkeeping            18977 non-null  int64
 42  GK Diving              18977 non-null  int64
 43  GK Handling            18977 non-null  int64
 44  GK Kicking             18977 non-null  int64
 45  GK Positioning         18977 non-null  int64
 46  GK Reflexes            18977 non-null  int64
 47  Total Stats            18977 non-null  int64
 48  Base Stats             18977 non-null  int64
 49  PAC                    18977 non-null  int64
 50  SHO                    18977 non-null  int64
 51  PAS                    18977 non-null  int64
 52  DRI                    18977 non-null  int64
 53  DEF                    18977 non-null  int64
 54  PHY                    18977 non-null  int64
 55  photoUrl               18977 non-null  object
 56  LongName               18977 non-null  object
 57  playerUrl              18977 non-null  object
 58  Nationality            18977 non-null  object
 59  Positions Categorical  18977 non-null  int64
 60  Positions              18977 non-null  object
 61  Teams                  18977 non-null  object
 62  Contract From          18977 non-null  float64
 63  Contract To            18977 non-null  float64
 64  Height                 18977 non-null  float64
 65  Weight                 18977 non-null  int64
 66  foot_categorical       18977 non-null  int64
 67  foot                   18977 non-null  object
 68  BP                     18977 non-null  object
 69  BP Categorical         18977 non-null  int64
 70  Joined                 18977 non-null  object
 71  Is On Loan             18977 non-null  int32
 72  Loan Date End          1013 non-null   object
 73  Value                  18977 non-null  float64
 74  Wage                   18977 non-null  float64
 75  Release Clause         18977 non-null  float64
 76  W/F Stars              18977 non-null  object
 77  W/F                    18977 non-null  float64
 78  SM Stars               18977 non-null  object
 79  SM                     18977 non-null  float64
 80  A/W                    18977 non-null  object
 81  A/W Categorical        18977 non-null  int64
 82  D/W                    18977 non-null  object
 83  D/W Categorical        18977 non-null  int64
 84  IR Stars               18977 non-null  object
 85  IR                     18977 non-null  float64
 86  Hits                   18977 non-null  float64
dtypes: float64(10), int32(1), int64(61), object(15)
memory usage: 12.7+ MB